section
    &:nth-child(4)
        display: flex
        justify-content: center
        align-items: center
        margin: 0px 25px
        div
            margin-top: 40px
            margin-bottom: 40px
            margin-right: 23px
            width: 750px
            height: 250px
            background-repeat: no-repeat
            background-size: cover
            background-position:  center
            

            h2
                color: white
                text-align: center
                margin-top: 90px
                font-size: 40px
            .myBorder 
                position: relative
                bottom: 40px
                left: 80px
                width: 400px
                height: 20px
                border-bottom: solid white 3px

                &:active                       
                    bottom: 40px
                    left: 80px
                    width: 400px
                    height: 20px
                    border-bottom: solid white 3px
                
                


     
    

 
    

        
           
        



        
        

