section
    &:nth-child(4)
        display: flex
        justify-content: center
        align-items: center
        margin: 0px 25px

        div
            // display: block
            margin-top: 40px
            margin-bottom: 40px
            margin-right: 23px
            width: 500px
            height: 250px
            background-repeat: no-repeat
            background-size: cover
            background-position:  center

            h2
                color: white
                text-align: center
                margin-top: 90px
                font-size: 40px

            .myBorder 
                margin: auto
                width: 80%
                height: 15px
                border-top: solid white 3px
                &:hover
                    transition-duration: 4s
                    width: 10%
                    margin: auto
                

                
                


     
    

 
    

        
           
        



        
        

