.container
     h1 
         text-align: center 
         margin-top: 90px 
         font-size: 25px
         font-weight: bold
     .row1_1
         display: flex
         justify-content: space-around
     
 




.row1
    display: flex
    justify-content: space-between
    margin-top: 40px

    

    img 
        width: 350px
        height: 250px

.row2
    display: flex
    justify-content: space-between
    margin-top: 120px

    img 
        width: 350px
        height: 250px


.row3
    display: flex
    justify-content: space-between
    margin-top: 120px
    img 
        width: 350px
        height: 250px
        margin-bottom: 15px



