body
    font-family: 'Poppins', sans-serif

header
    h1
        text-align: center
        font-size: 80px
        font-weight: bolder
        margin: 80px 0px

nav
    ul
        list-style: none
        display: flex
        justify-content: center
        align-items: center
        text-transform: uppercase
        font-size: 18px

        li
            margin: 0px 60px
            text-decoration: none
            .lien
                color: gray
                text-decoration: none

        .dernierLi
            display: flex
            justify-content: center
            align-items: center
            button
                &:first-child,&:nth-child(2)
                    border: #717b83 solid 1px
                    height: 25px
                    width: 25px
                    margin: 0px 3px
                    border-radius: 5px
                    outline: none
            .modeClair
                background-color: white
            .modeSombre
                background-color: #353b40

            button
                &:nth-child(3)
                    text-transform: uppercase
                    outline: none
                    border: none
                    padding: 10px 10px
                    background-color: grey
                    color: white

.PopUp
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    visibility: hidden
    opacity: 0
    transition: all 0.35s ease-in
    width: 700px
    text-align: center

.PopUpContenu
    position: relative
    border-radius: 10px
    background: white
    color: black

.PopUpVisible
    visibility: visible
    opacity: 1

.close
    max-width: max-content
    outline: none
