body
    font-family: 'Poppins', sans-serif

header
    h1
        text-align: center
        font-size: 80px
        font-weight: bolder
        margin: 100px 0px

nav
    ul
        list-style: none
        display: flex
        justify-content: center
        align-items: center
        text-transform: uppercase
        font-size: 18px

        li
            margin: 0px 60px
            text-decoration: none
            .lien
                color: gray
                text-decoration: none

        .dernierLi
            display: flex
            justify-content: center
            align-items: center
            button
                &:first-child,&:nth-child(2)
                    border: #717b83 solid 1px
                    height: 25px
                    width: 25px
                    margin: 0px 3px
                    border-radius: 5px
                    outline: none
            .modeClair
                background-color: white
            .modeSombre
                background-color: #353b40

            button
                &:nth-child(3)
                    text-transform: uppercase
                    outline: none
                    border: none
                    padding: 10px 10px
                    background-color: grey
                    color: white

.PopUp
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    visibility: hidden
    opacity: 0
    transition: all 0.35s ease-in
    left: 0
    right: 0
    top: 0
    down: 0

.PopUpContenu
    position: relative
    border-radius: 10px
    background: white
    color: black
    padding: 200px 100px
    border: solid 2px whitesmoke
    font-family: 'Poppins', sans-serif

    button
        height: 80px
        width: 200px
        font-size: 25px
        margin: 100px auto
        outline: none
        border-radius: 40px
        border: none

    p
        margin-top: 50px
        font-size: 40px

    h3
        font-size: 60px
    input
        width: 100%
        height: 70px
        outline: none
        border: none
        border-bottom: solid whitesmoke 2px
        border-left: solid whitesmoke 2px
        padding-left: 10px 

.assombrir
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )


.PopUpVisible
    visibility: visible
    opacity: 1

.close
    max-width: max-content
    outline: none
    right: 0
    top: 0
